/* HeroSection.css */
.hero-section {
  padding: 100px 20px; /* Adjusted padding for better responsiveness */
  background-color: #f5f5f5; /* Neutral background color */
  color: #333; /* Dark text color */
}

.hero-content {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  align-items: center;
  justify-content: center; /* Center the items horizontally */
}

.hero-text {
  flex: 1; /* Allow the text to grow and shrink based on available space */
  max-width: 500px;
  margin-top: 20px; /* Add a small gap between picture and text */
  text-align: center; /* Center the text */
}

.hero-image {
  width: 100%;
  max-width: 400px;
  min-width: 100px;
  border-radius: 50%;
}

.hero-heading {
  font-size: 6em;
  font-weight: bold;
  margin-bottom: 20px;
  background: linear-gradient(to right, #34c7f3, #007bff); /* Gradient for the heading */
  -webkit-background-clip: text;
  color: transparent;
}

.job {
  font-size: 1.5em;
  margin-bottom: 30px;
  background: linear-gradient(to right, #34c7f3, #007bff); /* Gradient for the job title */
  -webkit-background-clip: text;
  color: transparent;

}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: 2px solid #007bff;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  margin-bottom: 30px;
}

.btn-primary:hover {
  background-color: #0056b3; /* Darker blue on hover */
  border-color: #0056b3;
}

/* Responsive Font Sizes */
@media (max-width: 1200px) {
  .hero-heading {
    font-size: 5em;
  }

  .job {
    font-size: 1.3em;
  }
}

@media (max-width: 992px) {
  .hero-heading {
    font-size: 4em;
  }

  .job {
    font-size: 1.2em;
  }
}

@media (max-width: 768px) {
  .hero-heading {
    font-size: 3em;
  }

  .job {
    font-size: 1em;
  }
}

@media (max-width: 576px) {
  .hero-heading {
    font-size: 2em;
  }

  .job {
    font-size: 0.9em;
  }
}
