/* HistorySection.css */
.history-section {
  padding: 50px 100px; /* Increase padding for a more spacious feel */
  background-color: #f0f0f0; /* Light gray background color for a visual break */
  
}

.history-heading {
  position: relative;
  display: inline-block;
  color: #333; /* Dark text color for the heading */
}

.history-heading:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #34c7f3, #007bff); /* Gradient for the line */
  bottom: 0;
  left: 0;
}

.history-divider {
  border-top: 2px solid #ddd; /* Divider line between blurb and timeline */
  margin-top: 20px;
  margin-bottom: 20px;
}

.history-blurb {
  font-size: 1.2em;
  color: #333; /* Dark text color for the blurb */
}

/* Timeline styling */
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
  padding-left: 30px; /* Adjust the indentation */
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0; /* Position the line on the left side */
  width: 2px; /* Vertical line width */
  background: linear-gradient(#007bff, #0056b3); /* Vertical line gradient */
  content: '';
}

.timeline li {
  position: relative;
  margin-bottom: 30px;
}

.timeline-date {
  font-size: 1.2em;
  font-weight: bold;
  color: #007bff; /* Blue color for the date */
}

.timeline-event {
  font-size: 1.1em;
  margin-left: 20px;
  color: #555; /* Darker text color for the events */
}
